@charset "UTF-8";
    a,body,code,div,footer,h1,h2,h3,h4,h5,h6,html,img,li,menu,p,s,span,ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline}
footer,menu {
    display: block}
ul {
    list-style: none}
body {
    -webkit-text-size-adjust: none}
*,:after,:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box}
@media screen and (max-width: 480px) {
    body,html {
    min-width: 320px}
}
html {
    width: 100%;
    height: 100%}
body {
    width: 100%;
    height: 100%;
    background-color: #4e4e4e;
    background-image: url(images/overlay.png),-moz-linear-gradient(60deg,rgba(255,165,150,.5) 5%,rgba(0,228,255,.35)),url(../../images/bg.jpg);
    background-image: url(images/overlay.png),-webkit-linear-gradient(60deg,rgba(255,165,150,.5) 5%,rgba(0,228,255,.35)),url(../../images/bg.jpg);
    background-image: url(images/overlay.png),-ms-linear-gradient(60deg,rgba(255,165,150,.5) 5%,rgba(0,228,255,.35)),url(../../images/bg.jpg);
    background-image: url(images/overlay.png),linear-gradient(60deg,rgba(255,165,150,.5) 5%,rgba(0,228,255,.35)),url(../../images/bg.jpg);
    background-repeat: repeat,no-repeat,no-repeat;
    background-size: 100px 100px,cover,cover;
    background-position: top left,center center,bottom center;
    background-attachment: fixed,fixed,fixed}
#wrapper,body,html {
    line-height: 1;
    widows: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative}
body {
    color: #414f57;
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: .2em;
    text-transform: uppercase}
@media screen and (max-width: 1680px) {
    body {
    font-size: 11pt}
}
@media screen and (max-width: 480px) {
    body {
    font-size: 10pt;
    line-height: 1.75}
}
a {
    -moz-transition: color .2s ease,border-color .2s ease;
    -webkit-transition: color .2s ease,border-color .2s ease;
    -ms-transition: color .2s ease,border-color .2s ease;
    transition: color .2s ease,border-color .2s ease;
    color: inherit;
    text-decoration: none}
a:before {
    -moz-transition: color .2s ease,text-shadow .2s ease;
    -webkit-transition: color .2s ease,text-shadow .2s ease;
    -ms-transition: color .2s ease,text-shadow .2s ease;
    transition: color .2s ease,text-shadow .2s ease}
a:hover {
    color: #ea9163}
p {
    margin: 0 0 1.5em 0}
h1,h2,h3,h4,h5,h6 {
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 .75em 0}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: inherit;
    text-decoration: none}
h1 {
    font-size: 1.85em;
    letter-spacing: .22em;
    margin: 0 0 .525em 0}
h2 {
    font-size: 1.25em}
h3 {
    font-size: 1em}
h4 {
    font-size: 1em}
h5 {
    font-size: 1em}
h6 {
    font-size: 1em}
@media screen and (max-width: 480px) {
    h1 {
    font-size: 1.65em}
}
.icon {
    text-decoration: none;
    position: relative;
    border-bottom: none}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none!important}
.icons {
    list-style: disc;
    margin: 0 0 1.5em 0}
.icon {
    padding-left: .5em} */
.icon {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -.675em}
.icon {
    display: inline-block;
    padding: .675em .5em}
.icon a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    text-align: center;
    white-space: nowrap}
.icon a span.menu {
    position: absolute;
    top: 3.7em;
    left: -.2em;
    text-align: center}
.icon:nth-child(4) a span.menu {
    left: .7em}
.icon:nth-child(5) a span.menu {
    left: -.4em;
    letter-spacing: 1.9px}
.icon a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none!important}
.icon a:before {
    color: #fff;
    text-shadow: 1.25px 0 0 #c8cccf,-1.25px 0 0 #c8cccf,0 1.25px 0 #c8cccf,0 -1.25px 0 #c8cccf}
.icon a:hover:before {
    text-shadow: 1.25px 0 0 #e89061,-1.25px 0 0 #e89061,0 1.25px 0 #e89061,0 -1.25px 0 #e89061}
.icon a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0}
.icon a:hover {
    border-color: #e89061}
span.menu {
    font-size: .8em}
span.menu:hover {
    color: #e89061}
@media screen and (max-width: 480px) {
    #icon a:before {
    font-size: 1.5rem}
}
#main {
    position: absolute;
    height: 70%;
    width: 80%;
    max-width: 600px;
    min-width: 27em;
    max-height: 600px;
    min-height: 500px;
    padding: 3em 3em 3em 3em;
    background: #fff;
    border-radius: 10px;
    cursor: default;
    opacity: .95;
    text-align: center}
#main .character {
    position: relative;
    display: block;
    margin-bottom: 1.5em}
#main .character img {
    width: 110px;
    height: 141px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0 1.5em #fff;
    background: #fff}
#main .character:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3em;
    width: calc(100% + 6em);
    height: 1px;
    z-index: -1;
    background: #c8cccf}
@media screen and (max-width: 480px) {
    #main {
    min-width: 0;
    width: 80%;
    padding: 3em 2em 2em 2em}
#main .character:before {
    left: -2em;
    width: calc(100% + 4em)}
.icons {
    line-height: normal;
    margin: 0 auto}
.icon {
    display: inline-block;
    padding: .675em .5em;
    margin-bottom: 10px}
#footer {
    font-size: .5em}
}
#footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 1.5em;
    padding: 0;
    color: rgba(255,255,255,.75);
    cursor: default;
    text-align: center}
#footer .copyright {
    margin: 0;
    padding: 0;
    font-size: .9em;
    list-style: none}
#footer .copyright li {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 0 .85em;
    border-left: solid 1px rgba(255,255,255,.5);
    line-height: 1}
#footer .copyright li:first-child {
    border-left: 0}
#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
    min-height: 580px}
#wrapper>* {
    z-index: 1}
#wrapper:before {
    content: '';
    display: block}
@media screen and (max-width: 360px) {
    #wrapper {
    padding: .75em}
}
